<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Evaluación Final Angular</h1>
      <h2 class="masthead-subheading mb-0">Federico Gregori</h2>
      <h3 class="mt-5">Bienvenida Profe!</h3>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
  <div class="container mt-3">
    <div class="row align-items-center">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger"><h4>Debido a la solicitud de extensión del plazo de entrega, agregué funcionalidad CRUD a la sección que toma datos de un JSON. La sección estática de usuario también tiene la opción de agregar más usuarios para utilizar el 2 Way Data Binding.</h4></li>
        <hr>
        <li class="list-group-item list-group-item-warning"><h4>Busqué utilizar la mayor cantidad de herramientas brindadas de la bibliografía, como directivas, eventos y bindings</h4></li>
        <hr>
        <li class="list-group-item list-group-item-primary"><h4>Utilicé una extensión para Chrome llamada Augury para visualizar los componentes y variables en la consola.</h4></li>
        <hr>
        <li><h4>Componente 404 -> <a href="/asd">Link inexistente</a></h4></li>
      </ul>

      <div class="container mt-4 mb-4">
        <div class="row justify-content-center align-content-between">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-danger" routerLink="/users">Sección Estática - Usuarios</button>
            <button class="btn btn-danger" routerLink="/posts">Sección API - Posts - CRUD</button>
            <button class="btn btn-danger" routerLink="/contacto">Sección Contacto</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
